<div class="container">
  <div class="row">
    <div class="col-12">
      <h5>Total JSON data count is {{this.responseArray.length}}</h5>
      <table class="table table-dark">
        <thead>
          <th>Name</th>
          <th>Alpha Code 2</th>
          <th>Alpha Code 3</th>
        </thead>
        <tbody>
          <tr *ngFor="let getResponse of responseArray">
            <td>{{getResponse.name}}</td>
            <td>{{getResponse.alpha2_code}}</td>
            <td>{{getResponse.alpha3_code}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>